:root {
  --car-col: #2DA5EB;
}

.carousel {
  height: 15%;
  width: 100%;
  align-items: center;
  font-family: Arial;
}

.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  padding-right: 20%;
  width: 100%;
  height: 100%;
  justify-content: right;
}

.carousel__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  width: 20%;
  height: 90%;
  border-radius: 1%;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all .3s ease-in;
}

.caraousel-label {
  font-family: Mulish, Noto Serif, Source Sans Pro, Nunito Sans, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  position: absolute;
  margin-top: 2.7vh;
  margin-left: 50px;
}

/* Style of each carousel list */
#waveform>ul>:nth-child(1) {
  background-image: url("../images/tri.png"); 
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#waveform>ul>:nth-child(2) {
  background-image: url("../images/saw.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#waveform>ul>:nth-child(3) {
  background-image: url("../images/sin.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#waveform>ul>:nth-child(4) {
  background-image: url("../images/square.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#waveform>ul>:nth-child(5) {
  background-image: url("../images/brus.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

/*GENRE*/
#genre>ul>:nth-child(1) {
  background-image: url("../images/jazz.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#genre>ul>:nth-child(2) {
  background-image: url("../images/pop.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#genre>ul>:nth-child(3) {
  background-image: url("../images/off.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#genre>ul>:nth-child(4) {
  background-image: url("../images/hiphop.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#genre>ul>:nth-child(5) {
  background-image: url("../images/klassiskt.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

/*FILTER*/
#filter>ul>:nth-child(1) {
  background-image: url("../images/highpass.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#filter>ul>:nth-child(2) {
  background-image: url("../images/lowpass.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#filter>ul>:nth-child(3) {
  background-image: url("../images/off.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#filter>ul>:nth-child(4) {
  background-image: url("../images/reject.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

#filter>ul>:nth-child(5) {
  background-image: url("../images/bandpass.png");
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}


#waveform>ul>li {
  background-color: var(--car-col);
}

#genre>ul>li {
  background-color: var(--car-col);
}

#filter>ul>li {
  background-color: var(--car-col);
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}

.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(.9);
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(.9);
  z-index: 4;
}

.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}

.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(.8);
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(.8);
  z-index: 3;
}