:root {
  --car-col: #2DA5EB;
}

.carousel {
  /*display: flex;*/
  height: 15%;
  width: 100%;
  align-items: center;
  font-family: Arial;
}

.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  /*perspective: 100%;*/
  /* What does this do? */
  justify-content: center;
  /*background-color:  orange;*/
}

.carousel__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px;
  width: 20%;
  height: 90%;
  border-radius: 1%;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all .3s ease-in;
}

/* Style of each carousel list */
#waveform>ul>:nth-child(1) {
  background-image: url("../images/star.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#waveform>ul>:nth-child(3) {
  background-image: url("../images/sine.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#genre>ul>:nth-child(1) {
  background-image: url("../images/microphone.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#genre>ul>:nth-child(2) {
  background-image: url("../images/saxophone.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#genre>ul>:nth-child(3) {
  background-image: url("../images/guitar.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#genre>ul>:nth-child(4) {
  background-image: url("../images/clef.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#genre>ul>:nth-child(5) {
  background-image: url("../images/drum.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#filter>ul>:nth-child(3) {
  background-image: url("../images/off.png");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

#waveform>ul>li {
  background-color: var(--car-col);
}

#genre>ul>li {
  background-color: var(--car-col);
}

#filter>ul>li {
  background-color: var(--car-col);
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}

.carousel__item[data-pos="-1"] {
  transform: translateX(-40%) scale(.9);
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  transform: translateX(40%) scale(.9);
  z-index: 4;
}

.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}

.carousel__item[data-pos="-2"] {
  transform: translateX(-70%) scale(.8);
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  transform: translateX(70%) scale(.8);
  z-index: 3;
}