#datasets div {
  border: 0px;
  border-radius: 12px;
  margin: 0.25vh auto 0.25vh auto;
  padding: 10px 24px;
  /*cursor: pointer;*/
  width: 100%;
  /* Set a width if needed */
display : inline-block;
    /* put text left side middle */
  text-align: left;
  vertical-align: middle;
  /* Make the buttons appear below each other */
  font-family: Mulish, Noto Serif, Source Sans Pro, Nunito Sans,sans-serif;
  font-size: 1.05rem;

}