#datasets div {
  background-color: orangered;
  /* Green background */
  border: 0px;
  /* No border */
  border-radius: 12px;
  margin: 0.25vh auto 0.25vh auto;
  color: white;
  /* White text */
  padding: 10px 24px;
  /* Some padding */
  /*cursor: pointer;*/
  /* Pointer/hand icon */
  width: 100%;
  /* Set a width if needed */
  display: block;
  /* Make the buttons appear below each other */
}