body {
  background-color: rgb(0, 0, 0);
  margin: 0;
}

/* Divide screen into two parts */
.column {
  float: left;
  padding: 10px;
  height: 100vh;
}

#left {
  background-color: #000000;
  width: 70%;
}

#right {
  background-color: #000000;
  width: 30%;
}

.box {
  border: 1px solid black;
  margin: 1vh auto 1vh auto;
  overflow: auto;
  padding: 10px;
  width: 95%;
}

#header {
  background-color: #0A1128;
  height: 25vh;
}

#graph {
  background-color: white;
  padding: 0;
  height: 70vh;
}

#data {
  background-color: #0A1128;
  width: 90%;
  height: 25vh;
}

#settings {
  background-color: #0A1128;
  width: 90%;
  height: 70vh;
}

.title {
  background-color: #0A1128;
  margin: 0.2% auto 0.2% auto;
  height: auto;
  width: 100%;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Beautiful scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color:  rgb(55, 58, 68);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 104, 117);
}