body {
  background-color: lightblue;
  margin: 0;
}

/* Divide screen into two parts */
.column {
  float: left;
  padding: 10px;
  height: 100vh;
}

#left {
  background-color: lightgreen;
  width: 70%;
}

#right {
  background-color: blanchedalmond;
  width: 30%;
}

.box {
  border: 1px solid black;
  margin: 1vh auto 1vh auto;
  overflow: auto;
  padding: 10px;
  width: 95%;
}

#header {
  background-color: red;
  height: 25vh;
}

#graph {
  background-color: white;
  padding: 0;
  height: 70vh;
}

#data {
  background-color: pink;
  width: 90%;
  height: 25vh;
}

#settings {
  background-color: green;
  width: 90%;
  height: 70vh;
}

.title {
  background-color: turquoise;
  padding: 10px;
  margin: 0.7% auto 0.7% auto;
  height: 5%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}