@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;400;600;700&display=swap');

:root {
  --background-col: #020214;
  --font-col: white;
}

* {
  box-sizing: border-box;
  font-family: Mulish, Noto Serif, Source Sans Pro, Nunito Sans,sans-serif;
  color: var(--font-col);
}

h1, h2, h3, h4{
  font-family: Yeseva One, Lora, Nunito Sans, sans-serif; 
  font-weight: 700;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-col);
  /*background-image: url("more-leaves-on-green.png");
  background-attachment: fixed;*/
  margin: 0;
}

/* Divide screen into two parts */
.column {
  float: left;
  padding: 10px;
  height: 100vh;
}

#left {
  width: 70%;
}

#right {
  width: 30%;
}

.box {
  border: 0px solid black;
  margin: 1vh auto 1vh auto;
  overflow: auto;
  padding: 10px;
  width: 95%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(10px);
}

#header {
  height: 25vh;
  border-radius: 15px;
}

#graph {
  background: rgba(255, 255, 255, 0.15);
  padding: 0;
  height: 70vh;
  border-radius: 15px;
}

#data {
  width: 90%;
  height: 25vh;
  border-radius: 15px;
}

#settings {
  width: 90%;
  height: 70vh;
  border-radius: 15px;
}

.title {
  margin: 0.2% auto 0.2% auto;
  height: auto;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Beautiful scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(99, 104, 117);
  border-radius: 15px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(165, 165, 165);
}